@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .sidebar {
    @apply sticky sm:flex left-0 top-0 bg-gray-900 flex-col justify-between border-r py-5 border-gray-700 h-full  text-white hidden px-2 sm:px-3 xl:px-6  lg:w-[480px] 2xl:w-[640px];
  }

  .footer {
    @apply flex flex-row w-full cursor-pointer items-center justify-between gap-2 py-1 px-2 bg-gray-700 rounded-lg;
  }

  .footer_image {
    @apply relative max-xl:w-full max-xl:flex max-xl:justify-center max-xl:items-center;
  }

  .page-layout {
    @apply w-full flex flex-col overflow-y-auto no-scrollbar max-sm:pb-24
  }

  .auth-layout {
    @apply flex flex-col gap-10 w-full justify-center items-center bg-gradient-to-b from-gray-900 to-gray-800 max-sm:px-3
  }

  .file-upload {
    @apply text-12-regular flex cursor-pointer  flex-col items-center justify-center gap-3 rounded-md border border-dashed border-gray-600 bg-gray-700 p-5;
  }

  .file-upload_label {
    @apply flex flex-col justify-center gap-2 text-center text-gray-600;
  }

  .text-14-regular {
    @apply text-[14px] leading-[18px] font-normal;
  }

  .text-12-regular {
    @apply text-[12px] leading-[16px] font-normal;
  }

}
